langgraph 
langchain-community 
langchain-text-splitters
ipykernel
jupyter
tiktoken
langchain_ibm
python-dotenv
trafilatura
spacy
llama-cpp-python
huggingface-hub
pygraphviz
langchain-db2
langchain-core
ibm_db